In [2]:
from sklearn.datasets import fetch_openml
from pycaret.classification import *
import pandas as pd

# Load MNIST data
mnist = fetch_openml('mnist_784', version=1)
mnist_data = pd.DataFrame(data=mnist.data)
mnist_data['label'] = mnist.target.astype(int)

In [4]:
# Setup environment in PyCaret
class_setup = setup(data = mnist_data, target = 'label')

In [10]:
# compare baseline models
best = compare_models(include=['rf','knn'])

In [11]:
# Create a decision tree model
dt = create_model('knn')

In [7]:
# Evaluate the model
evaluate_model(dt)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [8]:

# Save the model
save_model(dt, 'dt_mnist_model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(exclude=None,
                                     include=['pixel1', 'pixel2', 'pixel3',
                                              'pixel4', 'pixel5', 'pixel6',
                                              'pixel7', 'pixel8', 'pixel9',
                                              'pixel10', 'pixel11', 'pixel12',
                                              'pixel13', 'pixel14', 'pixel15',
                                              'pixel16', 'pixel17', 'pixel18',
                                              'pixel19', 'pixel20', 'pixel21',
                                              'pixel22', 'pixel23', 'pixel24',
                                              'pixel25', 'p...
                                                               missing_values=nan,
                                                               strategy='most_frequent'))),
                 ('trained_model',
                  DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None,
                                         criterion='gini', max_depth=None,
                                         max_features=None, max_leaf_nodes=None,
                                         min_impurity_decrease=0.0,
                                         min_samples_leaf=1, min_samples_split=2,
                                         min_weight_fraction_leaf=0.0,
                                         monotonic_cst=None, random_state=4122,
                                         splitter='best'))],
          verbose=False),
 'dt_mnist_model.pkl')